<script>
	import Video from './Video.svelte'
</script>

<svelte:head>
	<link href="//amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet" />
	<script src="//amp.azure.net/libs/amp/latest/azuremediaplayer.min.js" />
</svelte:head>

<Video/>
<iframe src="https://kazanexpress.ru/product/Kompyuternoe-kreslo-VK-8-METTA-SU-B-8101003-449974"/>
<iframe src="https://kazanexpress.ru/product/Zazhivlyayuschaya-maz-Pokhodnaya-naturalnaya--40-666778"/>
<iframe src="https://kazanexpress.ru/product/Goroshek--zelenyj-180169"/>

<style>
	iframe{
		display: none;
	}
</style>